@import '../../../../assets/scss/1-abstracts/variables';

section.hero-carousel {
  height: 100vh;
  font-family: $text-font-sans-cond;
  --bs-body-font-family: $text-font-sans-cond;


  & .header-image-container {
    height: 100vh;
    width: 100vw;
    box-shadow: 0 0 32px 32px white inset;
  }

  & #hero-curr {
    background-image: var(--hero-curr);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & #slide-animation {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  }

  & #slide-animation-content {
    padding: 20px;
  }
}
