@import '../../../../assets/scss/1-abstracts/variables';

.navbar {

  width: 100vw;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: $heading-font-sans !important;

  & .container {
    position: relative;
    top: 34px;
  }

  & .navbar-collapse {
    position: relative;
    top: -30px;
  }

  & .nav-animation {
    animation: navBarDrop 0.8s ease-in-out;
  }

  &__logo {
    width: 200px;
  }

  & .nav-link {
    font-weight: 500;
    font-size: 2rem !important;
    color: black;
  }

  & .nav-item {
    padding: 0 1.8rem;
  }
}

.navbar-scrolled {
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


@media (max-width:991px) {
  .navbar {

    & .container {
      position: relative;
      top: 0;
    }

    & .navbar-collapse {
      position: relative;
      top: -70px;

      & .navbar-nav {
        width: 200px;
        text-align: right;
        background-color: rgba(255, 255, 255, 0.6);
      }
    }



    & .navbar-toggler {
      position: relative;
      top: -35px;
    }
  }
}


@keyframes navBarDrop {
  from {
    top: -170px;
  }

  to {
    top: 0px;
  }
}