<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top nav-animation">
 <div class="container">
  <a href="index.html" class="navbar-brand">
   <img src="assets/images/logos/spherebluelogoOval2.png" alt="Will Blochinger Photography Logo" class="navbar__logo" />
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
   aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
   <ul class="navbar-nav ms-auto">
    <li class="nav-item">
     <a class="nav-link" href="#discover">Gallery</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#summary">Packages</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#takeaways">Info</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#takeaways">Belize</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#takeaways">Store</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#subscribe">Contact</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#subscribe"><i class="fa-solid fa-user"></i></a>
    </li>

   </ul>
   <!--           <span class="nav-item">
            <span class="fa-stack">
              <a href="#">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x text-white"></i>
              </a>
            </span>
          </span>
          <span class="nav-item">
            <span class="fa-stack">
              <a href="#">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x text-white"></i>
              </a>
            </span>
          </span> -->
  </div>
 </div>
</nav>