<div class="albums">

  <div class="album-container c-preview" *ngFor="let album of albums"
    [ngStyle]="{'background-image':'url(assets/images/' + album.images[0].src + ')'}">
    <div class="album-borders">
      <img src="assets/images/logos/StampArtwork/BZStamp1.png" alt="" class="belize-stamp">
      <div class="album-title" [ngClass]="titleAlignment(album)" [ngStyle]="{'color': titleColor(album)}">''
        <span class="text-line">{{album.album}}</span>
      </div>
    </div>
  </div>


  <div class="albumDisplay" [ngStyle]="{'display': albumSelected === false ? 'none' : 'block' }">
    <div class="albumDisplay__title allura-regular">{{selectedAlbum?.album}}</div>
    <div class="albumDisplay__description" *ngIf="selectedAlbum?.description">{{selectedAlbum?.description}}</div>
    <div class="albumDisplay__close" (click)="closeAlbum()">
      <i class="fas fa-times"></i>
    </div>
    <div class="albumDisplay__content">
      <img src="assets/images/{{image.src}}" alt="" class="albumDisplay__content__image"
        *ngFor="let image of selectedAlbum?.images">

    </div>
  </div>

</div>