<div class="albums">

  <div class="album-container c-preview" *ngFor="let album of albums"
    [ngStyle]="{'background-image':'url(assets/images/' + album.images[0].src + ')'}" (click)="openAlbum(album)">
    <div class="album-borders">
      <img src="assets/images/{{album.postmark.src}}" alt="" class="belize-stamp"
        [ngStyle]="getPostmarkPosition(album.postmark)">
      <div class="album-title" [ngClass]="titleAlignment(album)" [ngStyle]="{'color': titleColor(album)}">
        <span class="text-line">{{album.album}}</span>
      </div>
    </div>
  </div>
</div>

<p-dialog class="carousel album-carousel" [header]="albumHeader" [(visible)]="albumSelected" [modal]="true"
  [breakpoints]="{ '1199px': '492px', '575px': '90vw' }" [draggable]="true" [resizable]="true">
  <section class="carousel">
    <div id="album-prev"></div>
    <div id="album-curr" #albumCurr>
      <div id="album-prev-slide" class="carousel-control slide-prev" (click)="prevSlide()">
        <!-- <img src="assets/images/arrow-left.png" alt="" class="carousel-control" /> -->
        <i class="pi pi-angle-left" style="color: white;font-size:7rem;"></i>
      </div>
      <div id="album-next-slide" class="carousel-control slide-next" (click)="nextSlide()">
        <!--  <img src="assets/images/arrow-right.png" alt="" class="carousel-control" /> -->
        <i class="pi pi-angle-right" style="color: white;font-size:7rem;"></i>
      </div>
    </div>
    <div id="album-next"></div>
  </section>
</p-dialog>