<footer class="footer mt-8 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Lorem Ipsum</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos
          possimus aliquid omnis commodi. Dignissimos, quam obcaecati? Fugit
          non ex repellendus?
        </p>
      </div>
      <div class="col-md-4">
        <h3>Quick Links</h3>
        <ul class="list-unstyled">
          <li><a href="#home">Home</a></li>
          <li><a href="#discover">Discover</a></li>
          <li><a href="#summary">Summary</a></li>
          <li><a href="#takeaways">Takeaways</a></li>
          <li><a href="#subscribe">Subscribe</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Connect</h5>
        <div class="d-flex gap-3">
          <a href="#"><i class="fab fa-facebook fa-3x text-white"></i></a>
          <a href="#"><i class="fab fa-twitter fa-3x text-white"></i></a>
          <a href="#"><i class="fab fa-linkedin fa-3x text-white"></i></a>
          <a href="#"><i class="fab fa-instagram fa-3x text-white"></i></a>
          <a href="#"><i class="fab fa-youtube fa-3x text-white"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
