@import "../../../../assets/scss/1-abstracts/variables";

.weather-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: solid 1px rgb(222, 188, 155);
  background-color: rgb(218, 203, 189);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 24px 24px rgba(0, 0, 0, 0.3);
  width: 80%;
  color: black;

  & .current-conditions {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & .weather_icon {
      &.current_weather_icon {
        width: 25%;
        height: 25%;
        display: inline-block;
      }
    }

    & .current-temp {
      display: inline-block;
      margin-left: 10px;
      font-size: 4.5rem;
      font-weight: 400;
      line-height: 1;

      & sup {
        font-size: 2.5rem;
        top: -15;
        position: relative;
      }
    }

    & .condition-details {
      margin-left: 15px;

      & .condition-detail__item {
        margin-bottom: 0;
      }

      &__heading {
        font-size: 1rem;
        font-weight: 400;
        margin-right: 5px;
      }
    }
  }

  & .weather-info {

    &__tabs {
      display: inline-block;
      margin-bottom: 10px;
    }

    &__tab {
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid $coral;
      }

      &.active {
        border-bottom: 2px solid $brand-color;
      }
    }

  }

  & .forecast-items {
    display: flex;
    justify-content: space-between;

    & .forecast-item {
      align-self: flex-start;

      &__date {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 5px;
      }

      &__description {
        width: 100%;
        text-align: center;
      }

      &__icon {
        width: 100%;
        text-align: center;

        & img {
          width: 80%;
          height: 80%;
        }
      }

      &__temp {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 5px;

        & .max-temp {
          font-weight: 500;
          margin-right: 7px;
        }

        & .min-temp {
          font-weight: 300;
        }
      }


    }
  }

  & .hourly-items {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;

    & .hourly-item {
      position: relative;
      width: 10%;
      flex-grow: 1;

      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: center;
      bottom: 0;


      &__label {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;

        &.gusts {
          font-size: .7rem;
          font-weight: 300;
        }

        &.temperature {
          color: $brand-color;
        }

        &.precipitation {
          color: $water;
        }

        &.wind {
          color: grey;
        }

        .uv-index {
          color: $red;
        }

        .visibility {
          color: $sky;
        }

        .cloud-cover {
          color: grey;
        }
      }

      &__percentage {

        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 5px;



        &.temperature {
          border-top: 2px solid $brand-color;
          background-color: rgba($brand-color, .3);
          border-right: 1px solid $brand-color;
          border-bottom: 1px solid $brand-color;
        }

        &.precipitation {
          border-top: 2px solid $water;
          background-color: rgba($water, .3);
          border-right: 1px solid $water;
          border-bottom: 1px solid $water;
        }

        &.wind {
          border-top: 2px solid grey;
          background-color: rgba(grey, .3);
          border-right: 1px solid grey;
          border-bottom: 1px solid grey;
        }

        &.humidity {
          border-top: 2px solid $coral;
          background-color: rgba($coral, .3);
          border-right: 1px solid $coral;
          border-bottom: 1px solid $coral;
        }

        &.uv-index {
          border-top: 2px solid $red;
          background-color: rgba($red, .3);
          border-right: 1px solid $red;
          border-bottom: 1px solid $red;
        }

        &.visibility {
          border-top: 2px solid $sky;
          background-color: rgba($sky, .3);
          border-right: 1px solid $sky;
          border-bottom: 1px solid $sky;
        }

        &.cloud-cover {
          border-top: 2px solid grey;
          background-color: rgba(grey, .3);
          border-right: 1px solid grey;
          border-bottom: 1px solid grey;
        }

        &:last-child {
          border-right: 0;
        }


      }

      &__time {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 2px;
      }
    }



  }

  & .border-top {
    border-top: 1px solid $brand-color !important;
    margin-top: 10px;
    padding-top: 10px;
  }

  & .border-bottom {
    border-bottom: 2px solid rgba(173, 142, 117, 1) !important;
    padding-bottom: 10px;
  }



}
