@import '../../../../../../assets/scss/1-abstracts/variables';

.table-button {
  margin-right: 8px;
}

.pi-pencil {
  color: $leaves;
  cursor: pointer;
}

.pi-trash {
  color: $red;
  cursor: pointer;
}

.pi-check {
  color: $leaves;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.pi-times {
  color: $red;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

p-tag {
  margin-left: 3px;
  cursor: pointer;

  & .active-tag {
    background-color: green;
  }

  & .inactive-tag {
    background-color: red;
  }
}

