@import '../../../../assets/styles/variables';

header {

 font-family: $text-font-sans-cond;
 --bs-body-font-family: $text-font-sans-cond;

 & .header-image-container {
  height: 100vh;
  width: 100vw;
 }

 & .header-image-hidden {
  display: none;
 }

 & #curr {
  background-image: var(--curr);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }

 &>.header-image-container>#typing-text {
  color: $light-grey;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 220px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 6px $brand-color;
  font-weight: 200;
  text-align: center;
  font-size: 72px;
  text-transform: uppercase;
 }

 & .carousel-control {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  cursor: pointer;

  &.slide-prev {
   left: 50px;
  }

  &.slide-next {
   right: 50px;
  }
 }

 & #slide-animation {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
 }

 & #slide-animation-content {
  padding: 20px;

  & h3 {
   font-size: 1.6em;
   margin-top: -20px;
  }

  & #slide-animation-body {
   margin-top: 0 !important;
   font-weight: 400;
   font-size: 1.8em;
  }

 }
}