header {

 & .header-image-container {
  height: 100vh;
  width: 100vw;
 }

 & .header-image-hidden {
  display: none;
 }

 & #curr {
  background-image: var(--curr);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }

 & .carousel-control {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;

  &.slide-prev {
   left: 50px;
  }

  &.slide-next {
   right: 50px;
  }
 }


}