<header>
 <div id="prev" class="header-image-container header-image-hidden"></div>

 <div id="curr" class="header-image-container header-displayed">
  <div id="prev-slide" class="carousel-control slide-prev" (click)="prevSlide()">
   <img src="assets/images/arrow-left.png" alt="" class="carousel-control" />
  </div>


  <div id="typing-text"></div>
  <!-- <div id="slide-animation">
   <div id="slide-animation-content">
    <h1 id="slide-animation-title"></h1>
    <div id="slide-animation-body"></div>
   </div>
  </div> -->

  <div id="next-slide" class="carousel-control slide-next" (click)="nextSlide()">
   <img src="assets/images/arrow-right.png" alt="" class="carousel-control" />
  </div>
 </div>

 <div id="next" class="header-image-container header-image-hidden"></div>
</header>