// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Admin pages.
// -----------------------------------------------------------------------------

@import "../1-abstracts/variables";

.admin-page {
 padding: 15px;

 .main-card {
  .p-card {
   border-radius: 5px !important;
   padding: 10px;
   border: 1px solid $med-grey;

   filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, .4));
  }
 }
}