<!-- Flexbox container for aligning the toasts -->
<p-toast></p-toast>
<div class="admin-page">
  <p-card class="main-card" [header]="editmode ? 'Edit Image' : 'Add Image'"
    subheader="You can add or edit images here">
    <div class="grid p-mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button styleClass="p-button-primary p-mr-2" [label]="editmode ? 'Update' : 'Create'" icon="pi pi-plus"
              (click)="onSubmit()"></p-button>
            <p-button styleClass="p-button-secondary" label="Cancel" icon="pi pi-arrow-circle-left"
              (click)="onCancel()"></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="imageForm">
          <!-- title -->
          <div class="grid">
            <div class="p-field col-12 md:col-5">
              <label class="label" for="title">Title<span class="required">*</span></label>
              <input formControlName="title" id="title" type="text" class="inputfield w-full" pInputText />
              <small *ngIf="imageForm.get('title')?.invalid && isSubmitted" class="p-error">Title is required</small>
            </div>
          </div>
          <!-- description -->
          <div class="grid">
            <div class="p-field col-12 md:col-5">
              <label class="label" for="description">Description</label>
              <input formControlName="description" id="description" type="text" class="inputfield w-full" pInputText />
            </div>
          </div>
          <!-- caption -->
          <div class="grid">
            <div class="p-field col-12 md:col-5">
              <label class="label" for="caption">Caption</label>
              <input formControlName="caption" id="caption" type="text" class="inputfield w-full" pInputText />
            </div>
          </div>
          <!-- comments -->
          <div class="grid">
            <div class="p-field col-12 md:col-5">
              <label class="label" for="comments">Comments</label>
              <input formControlName="comments" id="comments" type="text" class="inputfield w-full" pInputText />
            </div>
          </div>
          <!-- dateTaken -->
          <div class="grid">
            <div class="p-field col-12 md:col-5">
              <label class="label calendar-label" for="dateTaken">Date Taken</label>
              <p-calendar formControlName="dateTaken" id="dateTaken" inputId="dateTaken" showButtonBar="true"
                dateFormat="yy-mm-dd" inline="false" [showIcon]="true" showButtonBar="true" [showIcon]="true"
                [firstDayOfWeek]="1" [monthNavigator]="true" [yearNavigator]="true" [numberOfMonths]="1"
                selectOtherMonths="true" field="name" />
            </div>

          </div>

          <!-- tags:  -->
          <div class="grid">
            <div class="p-field col-12 md:col-5">
              <label class="label" for="tags">Tags</label>
              <p-autoComplete formControlName="selectedTags" inputId="tags" id="tags"
                styleClass="image-upload__autocomplete" [suggestions]="filteredTags"
                (completeMethod)="filterTags($event)" [dropdown]="true" [multiple]="true">
                <ng-template let-tags pTemplate="item">
                  <div class="tags-item">
                    <div>{{tags.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
          <!-- image:  -->
          <div class="grid field-border">

            <div class="p-field col-8">
              <label class="btn btn-default p-0">
                <input type="file" (change)="selectFile($event)" />
              </label>

              <!-- <input id="image" type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload($event)" />
              -->
              <small *ngIf="imageForm.get('image')
            ?.invalid && isSubmitted" class="p-error">Image is required</small>
            </div>
            <div class="p-field col-4">
              <button class="btn btn-success btn-sm" [disabled]="!currentFile" (click)="uploadFile()">
                Upload
              </button>
            </div>

          </div>
          @if (progress || message) {
          <div class="grid">
            <div class="p-field col-12">
              @if (progress) {
              <div class="progress my-3">
                <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress }}"
                  aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                  {{ progress }}%
                </div>
              </div>
              }

              @if (message) {
              <div class="alert alert-secondary" role="alert">{{ message }}</div>
              }
            </div>
          </div>
          }

          @if (imageDisplay) {
          <div class="grid">
            <div class="p-field col-12">
              <img [src]="imageDisplay" alt="" />
            </div>
          </div>
          }

        </form>
      </div>
    </div>
  </p-card>
</div>