.will {
 display: flex;
 margin: 60px;
 padding: 30px;
 justify-content: space-around;
 background-color: white;
 border-radius: 5px;
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

 & .mug-shot {}

 & .bio {
  font-weight: 600;
  font-size: 1.8rem;
  padding-left: 60px;
  padding-right: 60px;
 }

}