@import '../../../../assets/scss/1-abstracts/variables';

.will {
  display: flex;
  margin: 60px;
  padding: 30px;
  justify-content: space-around;
  background-color: white;
  border-radius: 5px;
  box-shadow: $box-shadow;

  & .mug-shot {}

  & .bio {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.8;
    padding-left: 40px;
  }

}
