@import '../../../../../../assets/scss/1-abstracts/variables';

:host ::ng-deep {
  & .p-autocomplete {
    display: inline-block;
    width: 100% !important;

    &-input {
      display: block;
      width: 100% !important;
    }
  }

  .admin-page {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    & label {

      & .calendar-label {
        display: block;
      }

      & .image-label {
        display: block;
      }

    }

    .field-border {
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      width: 100%;
    }

    .preview-image {
      width: 100%;
    }

    input[type="file"] {
      visibility: hidden;
    }

    .image-preview {
      height: 5rem;
      margin: 1rem 0;
    }

    .image-preview img {
      height: 100%;
    }
  }
}








// here