@import '../../../node_modules/bootstrap/scss/functions';

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-sans: "Fira Sans", "Helvetica Neue Light", "Helvetica Neue",
 "Helvetica", "Arial", sans-serif !important;

$text-font-sans-cond: "Fira Sans Condensed", "Helvetica Neue Light",
 "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;

$text-font-sans-ex-cond: "Fira Sans Extra Condensed", "Helvetica Neue Light",
 "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;

--bs-body-font-family {
 font-family: $text-font-sans-cond !important;
}

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
 "Monaco", monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: #001f60 !default;
$water: #9df6e6 !default;
$leaves: #8bc541 !default;
$wood: #ad8e75 !default;
$sand: #f5c3c4 !default;
$coral: #d76d7b !default;
/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
 "small": 320px,
 "medium": 768px,
 "large": 1024px,
 ) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "/assets/" !default;

$font-family-sans-serif: $text-font-sans-cond; //'Montserrat', sans-serif;

// Colors
$primary: #f8b547;
$secondary: #35353a;
$light: #fbf9f5;
$body-bg: $light;

// Spacing
$spacer: 1rem !default;
$spacers: (
 0: 0,
 1: $spacer * 0.25,
 2: $spacer * 0.5,
 3: $spacer,
 4: $spacer * 1.5,
 5: $spacer * 3,
 6: $spacer * 6,
 7: $spacer * 8,
 8: $spacer * 12,
 ) !default;

$headings-margin-bottom: $spacer * 1;
$line-height-base: 1.7;

// Navbar
$navbar-nav-link-padding-x: 0.8rem;
$navbar-padding-y: 0; // 1rem;
$navbar-dark-color: #fff;

// Buttons
$button-radius: 50px;
$button-padding-x: 30px;
$button-padding-y: 10px;

$btn-border-radius: $button-radius;
$btn-border-radius-sm: $button-radius;
$btn-border-radius-lg: $button-radius;
$btn-padding-y: $button-padding-y;
$btn-padding-y-lg: $button-padding-y;
$btn-padding-y-sm: $button-padding-y;
$btn-padding-x: $button-padding-x;
$btn-padding-x-lg: $button-padding-x;
$btn-padding-x-sm: $button-padding-x;
$navbar-toggler-border-radius: 5px;

$headings-font-weight: bold;

.bg-light {
 background-color: 0 !important;
 --bs-navbar-color: none !important
}

:root {
 --bs-body-font-size: 62.5%;
}