<div class="will">
 <div class="mug-shot "><img src="assets/images/hs1.jpg" alt="" class="mug"></div>
 <div class="bio">
  Will Blochinger has been a universally recognized name in the photography world since he first started capturing
  images
  of icons such as Metallica, The Rolling Stones, Snoop Dogg, No Doubt and Cheech & Chong among others, in the
  mid-nineties. As an acclaimed celebrity photographer, award-winning wedding/portrait photographer and underwater
  photographer, his love for shooting has changed the face of photography. Will’s passion is about capturing those
  perfect
  moments in time along with the quintessential essence of that moment, person, or creature, for those
  once-in-a-lifetime
  images. His work helped pioneer the photographic style “Cinematic” due to his extensive celebrity portraiture career,
  and his ability to fuse that iconic cinema feel with fashion photography and classic portraiture. This is the style of
  photography that creates the countless beloved moments that his clients cherish and pass on to their children for
  generations to come. Will’s work has been featured in numerous publications, including Rolling Stone, People, US
 </div>
</div>