<header>

  <button type=”button” class=”btn btn-primary”>Test Button</button>Step 7: Serve Your ApplicationRun your Angular
  application using the Angular CLI:


  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let slide of slides; let i = index" data-target="#carouselExampleIndicators" [attr.data-slide-to]="i"
        [ngClass]="{'active': i === 0}"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let slide of slides; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
        <img class="d-block w-100" [src]="slide.src" [alt]="slide.alt">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{slide.slider?.header}}</h5>
          <p>{{slide.slider?.content}}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>