// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

/* .montserrat-<uniquifier> {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/// Regular font family
/// @type List
$text-font-sans: "Montserrat", "Fira Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

$text-font-sans-cond: "Montserrat", "Fira Sans Condensed", "Helvetica Neue Light",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

$text-font-sans-ex-cond: "Montserrat", "Fira Sans Extra Condensed", "Helvetica Neue Light",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

$heading-font-sans: "Fira Sans", "Helvetica Neue Light", "Helvetica Neue";
/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color

$brand-color: #001f60 !default;
$sky: rgb(70, 154, 219) !default;
$water: rgb(157, 246, 230) !default;
$leaves: rgb(111, 153, 64) !default;
$wood: rgb(173, 142, 117) !default;
$sand: rgb(245, 195, 196) !default;
$coral: rgb(215, 109, 123) !default;
$sun: rgb(249, 209, 153) !default;
$red: rgb(237, 79, 70) !default;
/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;
$med-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// "black"
/// @type Color
$black: rgb(22, 21, 23) !default;

// Section box shadow
$box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4) !default;
// 0 0 18px 18px rgba(0, 0, 0, 0.4) !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
  ) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 576px,
  lg: 768px,
  xl: 1200px,
  xxl: 1400px) !default;


/* $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px) !default; */
/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "/assets/" !default;
